<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <style>
        body{
            background-color: whitesmoke
        }
        div{
            width: 80%;
            margin: 0 auto;
            text-align: center
        }
    </style>
</head>
<body>
    <div>
        <img src="../img/err.jpg" width="80%" alt="404 not Found">
        <h2>你寻找的页面丢失了。。。</h2>
    </div>
</body>
</html>